.project-sidebar-mobile{
    display: none;
}
@media only screen and (max-width: 882px){
    .project-sidebar-desktop{
        display: none;
    }
    .project-sidebar-mobile{
        display: block;
    }
}